@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

.code {
    color: black;
}

body {
    background: #2a2727;
    transition: 1s;
    font-family: 'Comfortaa', cursive;
    font-weight: lighter;
    color: white;
}

h2 {
    font-weight: bold;
}

#div-switch {
    width: 50px;
    height: 50px;
    z-index: 2;
    background-color: #7b7777;
    margin: 5px;
    border-radius: 10px;
    padding: 2px;
    right: 20px;
    bottom: 20px;
}

#div-switch:hover {
    cursor: pointer;
}

@media (max-width: 1200px) {
    header h1 {
        margin-bottom: 15%;
    }
    main {
        padding-left: 1px;
    }
    body {
        padding: 0;
        font-size: 150% !important;
    }
}

@media (max-width: 550px) {
    header p {
        padding: 10px !important;
    }
    body {
        word-wrap: break-word;
    }
}

@media (max-width: 420px) {
    body {
        padding: 0 !important;
        margin: 0 !important;
        word-wrap: break-word;
    }
    header div h1 {
        font-size: 150% !important;
        text-align: center;
        margin-bottom: 15%;
    }
    header p {
        padding: 0 !important;
        text-align: center;
        bottom: 20% !important;
        font-size: 1rem !important;
    }
    p {
        font-size: 16px !important;

    }
    ol, ul {
        font-size: 18px !important;
    }
    .code {
        font-size: 18px;
        text-align: left !important;
        width: 100% !important;

    }
    h1, h2 {
        font-size: 24px;
    }
}

#moon {
    display: none;
}